/* ROOT */
:root {
  /* COLOR */

  --prim-color: #585858;

  --white: rgba(250, 250, 250, 1);
  --white50: rgba(250, 250, 250, 0.5);

  --black: rgba(50, 50, 50, 1);
  --black50: rgba(50, 50, 50, 0.5);

  --red: rgba(250, 100, 100, 1);
  --blue: rgba(12, 191, 232, 1);
  --yellow: rgba(250, 250, 50, 1);

  --gray50: rgba(100, 100, 100, 0.5);

  /* BOOTSTRAP COLOR */
  --bootstrap-primary: #0d6efd;
  --bootstrap-warning: #ffc107;
  --bootstrap-danger: #dc3545;

  /* GRADIENT */
  --color-gradient1: rgb(1, 255, 207);
  --color-gradient2: rgb(255, 252, 0);

  /* BOX-SHADOW */
  --box-shadow1: 0 4px 8px var(--black50);
}

/* ROOT END */

/* UTILS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: 700;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: var(--white);
}

img {
  width: 100%;
  border-radius: 10px;
}

header {
  background: var(--prim-color);
  color: var(--white);
  padding: 5px;
  margin-bottom: 40px;
  box-shadow: var(--box-shadow1);
}

header a {
  color: var(--white);
}

.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.line {
  border-bottom: 2px solid var(--white);
  margin-top: 15px;
  margin-bottom: 15px;
}

/* UTILS END */

/* PADDING & MARGIN */

.py-lg {
  padding: 40px 0;
}

.py-md {
  padding: 20px 0;
}

.py-sm {
  padding: 10px 0;
}

.px-lg {
  padding: 0 40px;
}

.px-md {
  padding: 0 20px;
}

.px-sm {
  padding: 0 10px;
}

.px-0 {
  padding: 0 150px 0 150px;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* PADDING & MARGIN END */

/* TEXT */
.text-red {
  color: var(--red);
}

/* TEXT END */

/* BTN */

.btn {
  display: inline-block;
  background: var(--yellow);
  color: var(--black);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.9);
}

.btn-back {
  background: var(--white);
  color: var(--black);
  margin-bottom: 20px;
}

/* BTN END */

/* POST */

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.post-img {
  height: 350px;
}

.card {
  background-color: var(--prim-color);
  padding: 30px;
  border-radius: 10px;
  box-shadow: var(--box-shadow1);
  margin-bottom: 30px;
  color: var(--white);
}

.card img {
  margin-bottom: 50px;
}

.card-page {
  padding: 15px 30px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  background: var(--yellow);
  color: var(--prim-color);
  border-radius: 15px;
  /* margin-bottom: 20px; */
  padding: 8px;
  position: absolute;
  margin-top: -45px;
  height: 30px;
  text-align: center;
  align-self: center;
  font-weight: 600;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.post-body pre {
  background: var(--white);
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

/* POST END */

/* MEDIA */

/* 500 */
@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }
}

/* MEDIA END */
